{% extends "index.html" %}
{% block body %}
 <body>
 	<div class="text-center">
	{% if course_info %}
 	<!-- <h1> {{course_info[0][3]}} </h1> -->
 	<table class="table table-bordered">
    <thead>
      <tr>
      	{% for title in ['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F', 'W', 'Instructor', 'Semester'] %}
        <th>{{title}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for items in course_info %}
    <tr>
    	{% for it in items %}
        <td>{{it}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
	</div>
	<p />
 </body>

{% endblock %}