{% extends "index.html" %}
{% block body %}
<body>
<div id="display">
<script src="https://d3js.org/d3-scale-chromatic.v0.3.js"></script>


<h1 class='text-center'>
  <span>{{subject}} {{number}}:   {{title}}</span>
{% if is_fav %}
<button id="bAddFav" type="button" class="btn btn-lg btn-default pull-right"
onclick="location.href='/fav_course/del?sub={{subject}}&num={{number}}';">
<span class="fas fa-star" style='color:#FFC300'> </span>
</button>
{% else %}
<button id="bAddFav" type="button" class="btn btn-lg btn-default pull-right"
onclick="location.href='/fav_course/add?sub={{subject}}&num={{number}}';">
<span class="far fa-star"> </span>
{% endif %}
</h1>
<hr/>




</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

<script type="text/javascript">
	var m = 40,
	    r = 180,
	    z = [d3.rgb(0, 153, 255, 0.8), d3.rgb(77, 184, 255, 0.8), d3.rgb(153, 214, 255, 0.8),
	    	 d3.rgb(51, 204, 51, 0.8), d3.rgb(112, 219, 112, 0.8), d3.rgb(173, 235, 173, 0.8),
	    	 d3.rgb(255, 153, 0, 0.8), d3.rgb(255, 184, 77, 0.8), d3.rgb(255, 214, 153, 0.8),
	    	 d3.rgb(255, 92, 51, 0.8), d3.rgb(255, 153, 128, 0.8), d3.rgb(255, 214, 204, 0.8),
	    	 d3.rgb(255, 153, 255, 0.8)];
	    n_col = 2;
	    width = 920,
	    grades = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F"];

	var pie = d3.pie().sort(null);

    var tip = d3.tip()
				.attr('class', 'd3-tip');

	var arc = d3.arc()
				.innerRadius(3 * r / 4)
				.outerRadius(r);

	var legend = d3.select("#display")
		.append("svg")
        .attr("width", width)
        .attr("height", 30)
        .selectAll("g")
        .data(z)
    	.enter()    
    		.append("g")
    		.attr("transform", function(d, i) {
    			return "translate(" + (200 + i * 43) + ", 0)"; 
    		});

    	legend.append("rect")
	    	.attr("height", 8)
	    	.attr("width", 40)
			.attr("fill", function(d, i) { return z[i]; });

		legend.append("text")
			.text(function(d, i) { return grades[i]; })
			.attr("fill", "black")
			.attr("dy", 25)
			.attr("dx", 20)
            .style("text-anchor", "middle");

	d3.json("/course_info?subject={{subject}}&number={{number}}&title={{title}}", function(error, data) {
		data.forEach(function(d) {
            d.ap = +d.ap;
            d.a = +d.a;
            d.am = +d.am;
            d.bp = +d.bp;
            d.b = +d.b;
            d.bm = +d.bm;
            d.cp = +d.cp;
            d.c = +d.c;
            d.cm = +d.cm;
            d.dp = +d.dp;
            d.d = +d.d;
            d.dm = +d.dm;
            d.f = +d.f;
            d.w = +d.w;
        });

		var svg = d3.select("#display")
                   .append("svg")
                   .attr("width", width)
                   .attr("height", function(d) {
                   		return Math.ceil(data.length / n_col) * 2 * (r + m);
                   });

		svg.call(tip);

        var g_outer = svg.selectAll("g")
        				.data(data)
	                    .enter()
                        .append("g")
                        .attr("transform", function(d, i) {
                        	return "translate(" + ((r + m) * (2 * (i % n_col) + 1)) + ","
                        			 + ((r + m) * (2 * Math.floor(i / n_col) + 1)) + ")";
                        });

        g_outer.append("text")
	        	.style("text-anchor", "middle")
	        	.append("tspan")
	        	.attr('x', 0)
  				.attr('dy', 0)
	        	.text(function(d) {
	        		return d.semester;
	        	})
	        	.append("tspan")
	        	.attr('x', 0)
 				.attr('dy', "1.2em")
	        	.text(function(d) {
	        		return d.instructor;
	        	});

	    g_outer.attr("total", function(d) {
			return d["ap"] + d["a"] + d["am"] +
	    			d["bp"] + d["b"] + d["bm"] +
	    			d["cp"] + d["c"] + d["cm"] +
	    			d["dp"] + d["d"] + d["dm"] +
	    			d["f"];
	    });

        var pies = g_outer.selectAll("path")
        				.data(function(d) { 
		                    return pie([d["ap"], d["a"], d["am"],
		                    			d["bp"], d["b"], d["bm"],
		                    			d["cp"], d["c"], d["cm"],
		                    			d["dp"], d["d"], d["dm"],
		                    			d["f"]]); 
	                    })
	                    .enter()
	                    .append("path")
				        .attr("d", arc)
				        .style("fill", function(d, i) { return z[i]; })
				        .on('mouseover', function(d, i) {
				        	var total = d3.select(this.parentNode).attr('total');
				        	tip.html("<div><strong>Total enrollment: </strong>" + total + "</div>" + 
									"<div><strong>Number of " + grades[i] + "'s: </strong>" + d.value + "</div>" +
									"<div><strong>Percentage: </strong>" + (d.value / total * 100).toFixed(2) + "%</div>")
				        		.show();
				        })
      	    			.on('mouseout', tip.hide);
	})
</script>
</div>
</body>
{% endblock %}
