<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Get S++: Your Grade Booster!</title>
      <!-- Bootstrap core CSS -->
      <!-- Custom styles for this template -->
      <link href="../static/stylesheets/css/boot.css" rel="stylesheet">
      <!-- Just for debugging purposes. Don't actually copy this line! -->
      <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="container">
         
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Get S+</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="search">Explore</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Fav Courses</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/example.html">CS 411 Example Page</a>
                     </div>
                  </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
               </form>
            </div>
         </nav>
         <!-- Main Paragraph  -->
         <div class="jumbotron">
            <h1 style="color:#17a2b8;">Grade Booster</h1>
            <p class="lead">Help student get A++! We display the grade distribution and relevant statistics for each course and instructor at UIUC. Features may include easy-comparisons of several courses you choose, fancy visualization, and discussion room. This saves your GPA. </p>
            <p><a class="btn btn-lg btn-outline-info" href="#signup" data-toggle="modal" role="button" data-target="#signUpModal">Sign up today</a></p>
         </div>
         <div class="row marketing">
            <div class="col-lg-6">
               <h4>Subheading</h4>
               <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
               <h4>Subheading</h4>
               <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
               <h4>Subheading</h4>
               <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
            <div class="col-lg-6">
               <h4>Subheading</h4>
               <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
               <h4>Subheading</h4>
               <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
               <h4>Subheading</h4>
               <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
         </div>
         <div class="footer">
            <p>&copy; Database for BaselessData 2018</p>
         </div>
         <!-- ------------- -->
         <!-- Sign Up Modal -->
         <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUp" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">New Account</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <form>
                        <!-- Text input-->
                        <div class="control-group">
                           <label class="control-label" for="userid">Email:</label>
                           <div class="controls">
                              <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="Do_not@email.me" class="input-medium" required="">
                           </div>
                        </div>
                        <!-- Password input-->
                        <div class="control-group">
                           <label class="control-label" for="passwordinput">Password:</label>
                           <div class="controls">
                              <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="VerySecret123" class="input-medium">
                           </div>
                        </div>

                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-outline-info">
                     <a href="signUp">Sign Up!</a>
                     </button>
                  </div>
               </div>
            </div>
         </div>
         </div> <!-- /container -->
         <!-- Bootstrap core JavaScript
         ================================================== -->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </body>
   </html>