{% extends "index.html" %}
{% set active_page = "profile" %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li>{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}

 <body>
 	<div class="text-center">
 	<p> Profile </p>
 	<img src="https://i.ytimg.com/vi/ZZbSqhGywaw/hqdefault.jpg" alt="..." class="center-block" />
	</div>
	<p />
 </body>

{% endblock %}